<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite thread-count="2" name="Smoke" parallel="classes">
    <test name="Login Page Test">
        <classes>
            <class name="qase.io.tests.UI.LoginPageTest"/>
            <parameter name="userEmail" value="wfortestw@gmail.com"></parameter>
            <parameter name="userPassword" value="T72YPufVFi#S$3r"></parameter>
        </classes>
    </test>
</suite>
