<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite thread-count="2" name="Smoke" parallel="classes">
    <test name="Group Page Test">
        <classes>
            <class name="qase.io.tests.UI.RepositoryPageTest"/>
            <parameter name="projectCode" value="NP"></parameter>
            <parameter name="suiteName" value="new suite"></parameter>
            <parameter name="suiteNameForDelete" value="new suite"></parameter>
        </classes>
    </test>
</suite>
