<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite thread-count="2" name="Smoke" parallel="classes">
    <test name="Project Page Test">
        <classes>
            <class name="qase.io.tests.UI.ProjectsPageTest"/>
            <parameter name="projectName" value="main"></parameter>
            <parameter name="projectCode" value="puma"></parameter>
            <parameter name="projectsDescription" value="dfdsfsdf"></parameter>
            <parameter name="projectForDelete" value="main"></parameter>
        </classes>
    </test>
</suite>
